*.class
*.dll
*.exe
*.framework/
*.gz
*.kate-swp
*.lock
*.o
*.so
*.sqlite
*.swp*
*.xcodeproj
*~
.DS_Store
.DS_Store?
.Spotlight-V100/
.Trashes/
._*
.build/
.cspellcache
.directory
.swiftpm/
DerivedData/
Package.resolved
Thumbs.db
ehthumbs.db
node_modules/
tccutil
